<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item target="_blank" rel="noopener" href="https://angular.io/tutorial">
          <mat-icon matListIcon>school</mat-icon>
          <span>Learn Angular</span>
        </a>
        <a mat-list-item target="_blank" rel="noopener" href="https://angular.io/cli">
          <mat-icon matListIcon>code</mat-icon>
          <span>Documentation</span>
        </a>
        <a mat-list-item target="_blank" rel="noopener" href="https://blog.angular.io/">
          <mat-icon matListIcon>whatshot</mat-icon>
          <span>Angular Blog</span>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>dispatcher-ng</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
