body {
    padding: 0;
    margin: 0;
}
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'theme/default-theme.scss';
@import 'theme/light-theme.scss';
@import 'theme/dark-theme.scss';

@include angular-material-theme($my-default-theme);

.my-light-theme {
    @include angular-material-theme($my-light-theme);
  }
  
  .my-dark-theme {
    @include angular-material-theme($my-dark-theme);
  }
